.topbar{
    padding: 10px;
    display: flex;
    background-color: black;
    color: white;
    .search{
        margin-left: auto;
    }
    .title{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1px;
    }

}
.search{
    
}